.md h1:before {
  content: none;
}

.md h2:before {
  content: none;
}

.md h1 {
  color: black;
  font-size: 2.5vw;
}

#col {
  column-count: 2;
}

.md blockquote {
  color: #000;
  font-size: 1.3vw;
}

em.asterisk {
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5vw;
}

.md .blinking{
	animation:blinkingText 3s infinite;
}
@keyframes blinkingText{
	0%{		color: #000;	}
	50%{	color: transparent;	}
	100%{	color: #000;	}
}
