@media screen {
body {
  background: #000;
  color: #ccc;
  font-family: Arial, Helvetica, "sans serif";
  text-align: left;
}
}

.md div.title {
  color: white;
  font-family: Teko, Arial;
  font-size: 200%;
}

.md h2 {
  color: white;
}

.md h1:before {
  content: none;
  color: white;
}

.md h2:before {
  content: none;
  color: white;
}

h1 {
  color: white;
}

.md blockquote {
  color: white;
}

em.asterisk {
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}

.md .blinking{
	animation:blinkingText 3s infinite;
}
@keyframes blinkingText{
	0%{		color: white;	}
	50%{	color: transparent;	}
	100%{	color: white;	}
}
